
#terminal {
	width: 100%;
	font-family: monospace;
	color: var(--text-color);
	background: var(--primary-color);
	padding: 10px;
	box-sizing: border-box;
	overflow-y: auto;
}

.terminal-output .terminal-line {
	font-family: monospace;
	font-size: 1em;
	line-height: 1.4;
	white-space: pre;
	overflow-x: auto;
}

.terminal-output {
	font-family: monospace;
	white-space: pre;
	overflow-x: auto;
	overflow-y: auto;

	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.terminal-output::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.terminal-output::-webkit-scrollbar-track {
	background: transparent;
}

.terminal-output::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	border: 2px solid transparent;
}

.prompt-wrapper {
	display: flex;
}

.prompt-symbol {
	margin-right: 5px;
}

.terminal-input {
	flex: 1;
	background: transparent;
	border: none;
	outline: none;
	color: inherit;
	font-family: monospace;
	font-size: 1em;
}
