name: Build & Deploy Frontend
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Deploy to Server
        env:
          SSH_PRIVATE_KEY: ${{ secrets.RUNNER_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          eval "$(ssh-agent -s)"
          ssh-add <(echo "$SSH_PRIVATE_KEY")
          
          ssh-keyscan -H 10.0.10.101 >> ~/.ssh/known_hosts
          
          rsync -az --delete --no-perms --no-times --progress -e "ssh -o StrictHostKeyChecking=no" dist/ webuser@10.0.10.101:/var/www/runner
